@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="text-center">Order Products</h1>
    <div class="row">
        <div class="col">
            <h2>All Products:</h2>
            <ul id="productList">
                <!-- Dynamically Load Products Here -->
            </ul>
            <button id="placeOrder">Place Order</button>
        </div>
        <div class="col">
            <h2>Packages:</h2>
            <div id="result"></div>
        </div>
    </div>
</div>
